* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    text-transform: uppercase;
    font-size: 11.5rem;
    font-weight: 400;
    letter-spacing: -4px;
}
section.hero {
    width: 100vw;
    height: 100vh;
    background: url(images/zelda.jpg) no-repeat 50% 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero h1 {
    font-family: "PP Editorial Old";
    font-weight: lighter;
    color: #fff;
}
section.info {
    width: 100vw;
    height: 150vh;
    background-color: #000;
    color: #fff;
}
.header-row {
    width: 100%;
    height: 250px;
    padding: 0 2em;
}

.header-row:nth-child(1){
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-row:nth-child(2){
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-info {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
}
.header-info p {
    padding: 1em;
    font-family: "PP Editorial Old";
    font-size: 3.3rem;
    font-weight: lighter;
}
.header-images {
    width: 100%;
    height: 250px;
    padding: 1em;
    display: flex;
    gap: 1em;
}
.img {
    width: 100%;
    height: 100%;
}